/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

body {
	text-align: center;
	background-image: url(assets/new-background.jpg);
	background-size: fit;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.grid {
	display: -ms-grid;
	display: grid;
	max-width: 700px;
	margin: 0 auto;
	height: 550px;
	border: 3px dashed blueviolet;
}

.space {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-evenly;
	-ms-flex-pack: space-evenly;
	justify-content: space-evenly;
}

.hidden {
	margin-top: 2px;
	width: 25%;
	height: 22%;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	visibility: hidden;
}

.btn {
	margin-top: 8px;
	margin: 5px;
	border-radius: 8px;
	font-size: 16px;
	padding: 8px 8px 2px 15px;
	display: inline-block;
	text-align: center;
}

h1 {
	font-size: xx-large;
}

h2 {
	font-size: large;
}

h1,
h2,
p {
	color: black;
}

p {
	font-size: x-large;
}

#resetBtn {
	padding: 14px 18px;
	background-color: #677996;
	border: none;
	outline: none;
	border-radius: 3px;
	color: white;
	font-family: 'Arial';
	cursor: pointer;
}

/* Modal Box */
#modal {
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
}

#modal-textbox {
	background-color: white;
	height: 350px;
	width: 550px;
	border-radius: 2px;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	padding: 2%;
	line-height: 120%;
}

#modal-footer {
	text-align: right;
}

.modal-buttons {
	padding: 14px 18px;
	background-color: #677996;
	border: none;
	outline: none;
	border-radius: 3px;
	color: white;
	font-family: 'Arial';
	cursor: pointer;
}
